
.container {
    background-color: #EAEDF0;
}

.navigation {
    background-color: #B2D6FF;
    height: 30px;
}

.nav-item {             
    font-size: 20px;
    float: right;
    height: 30px;
    width: 6%;
    text-align: center; 
}

.homepage {
    float: left;
}

.page {             
    width: 900px;
    height: 320px;
    margin: 0 auto;
}

.sidebar img {
    height: 320px;
    width: auto;
    float: left;
}

.footer {
    font-size: 18px;
    background-color: #D6E9FE;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}